################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test/FileContentIndex
/.vs/Test/FileContentIndex
/LendTech.SharedKernel/bin/Debug/net9.0/LendTech.SharedKernel.dll
/LendTech.SharedKernel/bin/Debug/net9.0/LendTech.SharedKernel.pdb
/LendTech.SharedKernel/obj/Debug/net9.0/LendTech.SharedKernel.AssemblyInfo.cs
/LendTech.SharedKernel/obj/Debug/net9.0/LendTech.SharedKernel.AssemblyInfoInputs.cache
/LendTech.SharedKernel/obj/Debug/net9.0/LendTech.SharedKernel.dll
/LendTech.SharedKernel/obj/Debug/net9.0/LendTech.SharedKernel.pdb
/LendTech.SharedKernel/obj/Debug/net9.0/LendTech.SharedKernel.sourcelink.json
/LendTech.SharedKernel/obj/Debug/net9.0/ref/LendTech.SharedKernel.dll
/LendTech.SharedKernel/obj/Debug/net9.0/refint/LendTech.SharedKernel.dll
/LendTech.Infrastructure/bin/Debug/net9.0/LendTech.Database.dll
/LendTech.Infrastructure/bin/Debug/net9.0/LendTech.Database.pdb
/LendTech.Infrastructure/bin/Debug/net9.0/LendTech.Infrastructure.dll
/LendTech.Infrastructure/bin/Debug/net9.0/LendTech.Infrastructure.pdb
/LendTech.Infrastructure/bin/Debug/net9.0/LendTech.SharedKernel.dll
/LendTech.Infrastructure/bin/Debug/net9.0/LendTech.SharedKernel.pdb
/LendTech.Database/obj/LendTech.Database.csproj.nuget.dgspec.json
/LendTech.Database/obj/project.assets.json
/LendTech.Database/obj/project.nuget.cache
/LendTech.Database/obj/Release/net9.0/LendTech.Database.AssemblyInfo.cs
/LendTech.Database/obj/Release/net9.0/LendTech.Database.AssemblyInfoInputs.cache
/LendTech.Database/obj/Release/net9.0/LendTech.Database.assets.cache
/.vs/slnx.sqlite
/.vs/Test/DesignTimeBuild/.dtbcache.v2
/.vs/Test/v17/.suo
/.vs/Test/v17/DocumentLayout.backup.json
/.vs/Test/v17/DocumentLayout.json
/LendTech.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/appsettings.Development.json
/LendTech.API/bin/Debug/net9.0/appsettings.json
/LendTech.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/LendTech.API.deps.json
/LendTech.API/bin/Debug/net9.0/LendTech.API.dll
/LendTech.API/bin/Debug/net9.0/LendTech.API.exe
/LendTech.API/bin/Debug/net9.0/LendTech.API.pdb
/LendTech.API/bin/Debug/net9.0/LendTech.Application.dll
/LendTech.API/bin/Debug/net9.0/LendTech.Application.pdb
/LendTech.API/bin/Debug/net9.0/LendTech.BackgroundTasks.dll
/LendTech.API/bin/Debug/net9.0/LendTech.BackgroundTasks.pdb
/LendTech.API/bin/Debug/net9.0/LendTech.Database.dll
/LendTech.API/bin/Debug/net9.0/LendTech.Database.pdb
/LendTech.API/bin/Debug/net9.0/LendTech.Infrastructure.dll
/LendTech.API/bin/Debug/net9.0/LendTech.Infrastructure.pdb
/LendTech.API/bin/Debug/net9.0/LendTech.SharedKernel.dll
/LendTech.API/bin/Debug/net9.0/LendTech.SharedKernel.pdb
/LendTech.API/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.Build.Locator.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
/LendTech.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/LendTech.API/bin/Debug/net9.0/Mono.TextTemplating.dll
/LendTech.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/System.CodeDom.dll
/LendTech.API/bin/Debug/net9.0/System.Composition.AttributedModel.dll
/LendTech.API/bin/Debug/net9.0/System.Composition.Convention.dll
/LendTech.API/bin/Debug/net9.0/System.Composition.Hosting.dll
/LendTech.API/bin/Debug/net9.0/System.Composition.Runtime.dll
/LendTech.API/bin/Debug/net9.0/System.Composition.TypedParts.dll
/LendTech.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/LendTech.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/LendTech.API/obj/Debug/net9.0/apphost.exe
/LendTech.API/obj/Debug/net9.0/LendTech.API.AssemblyInfo.cs
/LendTech.API/obj/Debug/net9.0/LendTech.API.AssemblyInfoInputs.cache
/LendTech.API/obj/Debug/net9.0/LendTech.API.assets.cache
/LendTech.API/obj/Debug/net9.0/LendTech.API.csproj.AssemblyReference.cache
/LendTech.API/obj/Debug/net9.0/LendTech.API.csproj.CoreCompileInputs.cache
/LendTech.API/obj/Debug/net9.0/LendTech.API.csproj.FileListAbsolute.txt
/LendTech.API/obj/Debug/net9.0/LendTech.API.dll
/LendTech.API/obj/Debug/net9.0/LendTech.API.GeneratedMSBuildEditorConfig.editorconfig
/LendTech.API/obj/Debug/net9.0/LendTech.API.pdb
/LendTech.API/obj/Debug/net9.0/LendTech.API.sourcelink.json
/LendTech.API/obj/Debug/net9.0/ref/LendTech.API.dll
/LendTech.API/obj/Debug/net9.0/refint/LendTech.API.dll
/LendTech.API/obj/LendTech.API.csproj.nuget.dgspec.json
/LendTech.API/obj/LendTech.API.csproj.nuget.g.props
/LendTech.API/obj/LendTech.API.csproj.nuget.g.targets
/LendTech.API/obj/project.assets.json
/LendTech.API/obj/project.nuget.cache
/LendTech.API/obj/Release/net9.0/LendTech.API.AssemblyInfo.cs
/LendTech.API/obj/Release/net9.0/LendTech.API.AssemblyInfoInputs.cache
/LendTech.API/obj/Release/net9.0/LendTech.API.assets.cache
/LendTech.API/obj/Release/net9.0/LendTech.API.csproj.AssemblyReference.cache
/LendTech.API/obj/Release/net9.0/LendTech.API.GeneratedMSBuildEditorConfig.editorconfig
/LendTech.Application/bin/Debug/net9.0/LendTech.Application.dll
/LendTech.Application/bin/Debug/net9.0/LendTech.Application.pdb
/LendTech.Application/bin/Debug/net9.0/LendTech.Database.dll
/LendTech.Application/bin/Debug/net9.0/LendTech.Database.pdb
/LendTech.Application/bin/Debug/net9.0/LendTech.Infrastructure.dll
/LendTech.Application/bin/Debug/net9.0/LendTech.Infrastructure.pdb
/LendTech.Application/bin/Debug/net9.0/LendTech.SharedKernel.dll
/LendTech.Application/bin/Debug/net9.0/LendTech.SharedKernel.pdb
/LendTech.Application/obj/Debug/net9.0/ref/LendTech.Application.dll
/LendTech.Application/obj/Debug/net9.0/refint/LendTech.Application.dll
/LendTech.Application/obj/Debug/net9.0/LendTech.Application.AssemblyInfo.cs
/LendTech.Application/obj/Debug/net9.0/LendTech.Application.AssemblyInfoInputs.cache
/LendTech.Application/obj/Debug/net9.0/LendTech.Application.csproj.AssemblyReference.cache
/LendTech.Application/obj/Debug/net9.0/LendTech.Application.dll
/LendTech.Application/obj/Debug/net9.0/LendTech.Application.pdb
/LendTech.Application/obj/Debug/net9.0/LendTech.Application.sourcelink.json
/LendTech.Application/obj/LendTech.Application.csproj.nuget.dgspec.json
/LendTech.Application/obj/project.nuget.cache
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.BackgroundTasks.dll
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.BackgroundTasks.pdb
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.Database.dll
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.Database.pdb
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.Infrastructure.dll
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.Infrastructure.pdb
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.SharedKernel.dll
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.SharedKernel.pdb
/LendTech.BackgroundTasks/obj/Debug/net9.0/ref/LendTech.BackgroundTasks.dll
/LendTech.BackgroundTasks/obj/Debug/net9.0/refint/LendTech.BackgroundTasks.dll
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.Application.dll
/LendTech.BackgroundTasks/bin/Debug/net9.0/LendTech.Application.pdb
/LendTech.BackgroundTasks/obj/Debug/net9.0/LendTech.BackgroundTasks.AssemblyInfo.cs
/LendTech.BackgroundTasks/obj/Debug/net9.0/LendTech.BackgroundTasks.AssemblyInfoInputs.cache
/LendTech.BackgroundTasks/obj/Debug/net9.0/LendTech.BackgroundTasks.csproj.AssemblyReference.cache
/LendTech.BackgroundTasks/obj/Debug/net9.0/LendTech.BackgroundTasks.dll
/LendTech.BackgroundTasks/obj/Debug/net9.0/LendTech.BackgroundTasks.pdb
/LendTech.BackgroundTasks/obj/Debug/net9.0/LendTech.BackgroundTasks.sourcelink.json
/LendTech.BackgroundTasks/obj/LendTech.BackgroundTasks.csproj.nuget.dgspec.json
/LendTech.BackgroundTasks/obj/project.nuget.cache
/LendTech.Database/bin/Debug/net9.0/LendTech.Database.deps.json
/LendTech.Database/bin/Debug/net9.0/LendTech.Database.dll
/LendTech.Database/bin/Debug/net9.0/LendTech.Database.pdb
/LendTech.Database/obj/Debug/net9.0/ref/LendTech.Database.dll
/LendTech.Database/obj/Debug/net9.0/refint/LendTech.Database.dll
/LendTech.Database/LendTech.Database.csproj
/LendTech.Database/LendTechDbContext.cs
/LendTech.Database/obj/Debug/net9.0/LendTech.Database.AssemblyInfo.cs
/LendTech.Database/obj/Debug/net9.0/LendTech.Database.AssemblyInfoInputs.cache
/LendTech.Database/obj/Debug/net9.0/LendTech.Database.assets.cache
/LendTech.Database/obj/Debug/net9.0/LendTech.Database.dll
/LendTech.Database/obj/Debug/net9.0/LendTech.Database.pdb
/LendTech.Database/obj/Debug/net9.0/LendTech.Database.sourcelink.json
/LendTech.Infrastructure/obj/Debug/net9.0/LendTech.Infrastructure.AssemblyInfo.cs
/LendTech.Infrastructure/obj/Debug/net9.0/LendTech.Infrastructure.AssemblyInfoInputs.cache
/LendTech.Infrastructure/obj/Debug/net9.0/LendTech.Infrastructure.csproj.AssemblyReference.cache
/LendTech.Infrastructure/obj/Debug/net9.0/LendTech.Infrastructure.dll
/LendTech.Infrastructure/obj/Debug/net9.0/LendTech.Infrastructure.pdb
/LendTech.Infrastructure/obj/Debug/net9.0/LendTech.Infrastructure.sourcelink.json
/LendTech.Infrastructure/obj/Debug/net9.0/refint/LendTech.Infrastructure.dll
/LendTech.Infrastructure/obj/LendTech.Infrastructure.csproj.nuget.dgspec.json
/LendTech.Infrastructure/obj/project.nuget.cache
/LendTech.Infrastructure/obj/Debug/net9.0/ref/LendTech.Infrastructure.dll
